.comic {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.image {
  width: 179.2px;
  height: 268.8px;
  margin-bottom: 12px;
}

.title {
  font-weight: 500;
  margin-bottom: 8px;
}

.year {
  font-size: 12px;
}

@media (width <= 834px) {
  .image {
    width: 168.53px;
    height: 252.79px;
  }

  .title {
    font-size: 15.05px;
  }

  .year {
    font-size: 11.29px;
  }
}
