.html {
  overflow-x: clip;
}

.body {
  overflow-x: clip;
  margin: 0 0 100px;
}

.header {
  background-color: black;
}

.nav {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 48px;
}

@media (width < 615px) {
  .nav {
    margin-left: 15px;
    margin-right: 24px;
  }
}

@media (width <= 834px) {
  .html {
    scrollbar-width: none;
  }
}
