.body {
  margin: 0 0 100px;
}

.header {
  display: flex;
  background-color: black;
  height: 84px;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

@media (width < 615px) {
  .header {
    padding-left: 15px;
    padding-right: 24px;
  }
}

@media (width <= 834px) {
  .html {
    scrollbar-width: none;
  }
}
