.main {
  display: flex;
  flex-direction: column;
  margin: 59px 47px 0;
}

.title {
  margin: -11px 0 36px;
}

@media (width <= 834px) {
  .title {
    font-size: 24px;
  }
}

@media (width < 615px) {
  .title {
    margin-top: -12px;
  }

  main.main {
    margin: 35px 16px 0;
  }
}
