.banner {
  --corner-size: 24px;
  display: flex;
  justify-content: center;
  background-color: black;
  border-top: solid 1px #333333;
  width: 100%;
  clip-path: polygon(
    calc(100% - var(--corner-size)) 100%,
    0 100%,
    0 0,
    100% 0,
    100% calc(100% - var(--corner-size))
  );
}

.image {
  width: 320px;
  height: 320px;
}

.heart {
  cursor: pointer;
}

@media (width <= 834px) {
  .banner .title {
    font-size: 32px;
  }

  .image {
    width: 278px;
    height: 278px;
  }
}

@media (width < 615px) {
  .banner {
    flex-direction: column;
    align-items: center;
    border-top: none;

    .title {
      margin-top: 23px;
    }

    .info {
      width: auto;
      margin: 0 16px;
    }

    .text {
      margin: 17px 0 48px;
    }
  }

  .image {
    width: 393px;
    height: 397.89px;
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 40px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 592px;
  margin: 0 48px;
}
